@page "/Series"
@inject SerieRepositorio serieRepositorio;

<div class="container col-12 align-content-center">
    
    <div class="row">
        <div class="col">            
            <h3 class="text-center">Listas de Series</h3>                                                          
            <hr />
            <div class="d-flex justify-content-end">
                <btn @onclick="() => {Modal?.Open(2); serie_selecionada= new();}" class="btn btn-success">Adicionar</btn>
            </div>
            <table class="table table-hover align-middle table-bordered my-3">
              <thead>
                  <tr class="text-center">                  
                  <th class="col-2"scope="col">Titulo</th>
                  <th class="col-1" scope="col">Ano</th>
                  <th class="col-1"scope="col">Genero</th>
                  <th class="col-5" scope="col">Descrição</th>
                  <th class="col-3"scope="col">Ações</th>
                </tr>
              </thead>
              <tbody>    
                <BootstrapModal @ref="Modal" 
                            Serie="serie_selecionada"
                            AddSerie="AddSerie" EditarSerie="EditarSerie"/>
                @foreach(var serie in ExibirSerie())
                {
                    @if(serie.Excluido == false)
                    {                       
                        <tr class="text-center">                            
                            <td>@serie.Titulo</td>
                            <td>@serie.Ano</td>  
                            <td>@serie.Genero.ToString()</td>  
                            <td>@serie.Descricao</td>
                            <td>                                
                                                                    
                                
                                <button type="submit" @onclick="() => {Modal?.Open(1); serie_selecionada = serie;  }" class="btn btn-primary">Editar</button>
                                <button @onclick="() => excluirSerie(serie.Id)" class="btn btn-danger">Excluir</button>                                
                            </td>
                        </tr>    
                    }                    
                }                
              </tbody>
            </table>
        </div>
    </div>       
</div>




@code {
    private BootstrapModal? Modal { get; set; }
    public Serie serie_selecionada = new();    
    public string? titulo { get; set; }   


    public void excluirSerie(int id)
    {
        serieRepositorio.Exclui(id);                  
    }

    public void EditarSerie(Serie serie)
    {
        serieRepositorio.Atualiza(serie.Id, serie);       
        StateHasChanged();
    }

    public void AddSerie(Serie serie)
    {
        serie.Id = serieRepositorio.ProximoId();
        serieRepositorio.Insere(serie);
        StateHasChanged();
    }

    public List<Serie> ExibirSerie()
    {
        return serieRepositorio.Listar();
    }

}
